@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        PatternsFun
    </p>
    <p>
       Intership project
    </p>
    <p>
       CRUD Service
    </p>
</article>

<aside>
    <h3>Source code</h3>
    <p>
        <a href="https://github.com/Adamster/PatternsFun">Follow me on GitHub </a>   
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>