@model Domain.Dto.CarDetailsDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CarDetailsDto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Weight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HorsePowers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HorsePowers)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TankVolume)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TankVolume)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PilotName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PilotName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
