@using Mvc.RazorTools
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PatternsFun</title>

    <link href="~/Content/jquery-ui/jquery-ui.structure.css" rel="stylesheet"/>
    <link href="~/Content/jquery-ui/jquery-ui.theme.css" rel="stylesheet"/>
    <link href="~/Content/customMy.css" rel="stylesheet"/>
  
    <link href="~/Content/speedometer.css" rel="stylesheet"/>
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Content/jquery-ui/external/jquery/jquery.js"></script>
    <script src="~/Content/jquery-ui/jquery-ui.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
     <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>

    <script src="~/Scripts/speedometer.js" defer="true"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")




</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("PatternsFun", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Pilot Grid", "PilotGridView", "Grid")</li>
                <li>@Html.ActionLink("Car Grid", "CarGridView", "Grid")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - PatternsFun</p>
    </footer>
</div>

@*@Scripts.Render("~/bundles/jquery")*@
@*@Scripts.Render("~/bundles/bootstrap")*@
@RenderSection("scripts", false)
@BundleManager.Styles.Render()
<script src="~/Scripts/someAnimationTest.js"></script>
<script src="~/Scripts/FormScripts/CreateCarDialog.js"></script>
<script src="~/Scripts/FormScripts/carCRUD.js"></script>
<script src="~/Scripts/FormScripts/pilotCRUD.js"></script>
<script src="~/Scripts/jqGrid/PilotGrid.js"></script>
    <script src="~/Scripts/jqGrid/CarGrid.js"></script>
</body>
</html>