@model Web.Models.PilotModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PilotModel</h4>
    <hr/>
    <dl class="dl-horizontal puff">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DebutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DebutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExperienceTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExperienceTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>