@model IEnumerable<Domain.Persons.Pilot>
<table class="table tableList">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebutDate)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="trItem">
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DebutDate)
            </td>
            <td>
                <a href="@Url.Action("Edit", new {id = item.Id})" id="@item.Id" class="pEdit"><i class="fa fa-edit"></i>Edit </a> |
                <a href="@Url.Action("Details", new {id = item.Id})" id="@item.Id" class="pDetails"><i class="fa fa-list" ></i> Details </a> |
                <a href="@Url.Action("Delete", new {id = item.Id})" id="@item.Id" class="pDelete"><i class="fa fa-trash"></i> Delete </a>
            </td>
        </tr>
    }

</table>
