@model Web.Models.CarModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @Html.EditorFor(model => model.Name, "TextBoxEditor")
        @Html.EditorFor(model => model.Weight)
        @Html.EditorFor(model => model.HorsePowers)
        @Html.EditorFor(model => model.EngineType, "EngineTypeDropDownList")
        @Html.EditorFor(model => model.TankVolume)
        @Html.EditorFor(model => model.AdditionalInfo)
        @Html.EditorFor(model => model.Pilots, "DropDownList", "PilotId")
        @Html.EditorFor(model => model.IsSportCar, "BoolCheckBox")

    </div>
}
