@model Web.Models.CarModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal CreateForm">
        <h4>Car</h4>
        <hr/>

        @Html.EditorFor(model => model.Name, "TextBoxEditor")
        @Html.EditorFor(model => model.Weight)
        @Html.EditorFor(model => model.HorsePowers)
        @Html.EditorFor(model => model.EngineType, "EngineTypeDropDownList")
        @Html.EditorFor(model => model.TankVolume)
        @Html.EditorFor(model => model.AdditionalInfo)
        @Html.EditorFor(model => model.Pilots, "DropDownList", "PilotId")
        @Html.EditorFor(model=> model.IsSportCar, "BoolCheckBox")




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}