@model Web.Models.CarModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr/>


    <dl class="dl-horizontal puff">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorsePowers)
        </dt>

        <dd id="HorsePowers">
            @Html.DisplayFor(model => model.HorsePowers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineType)
        </dt>

        <dd id="EngineType">
            @Html.DisplayFor(model => model.EngineType)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.TankVolume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TankVolume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PilotName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PilotName)
        </dd>

    </dl>

    @*<input id="Speed"/>*@
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>*@